body{padding-top: 44px;}
footer{text-align: center; margin-top: 20px;}
#search-plan {
    margin: 0 auto;
    margin-top: 10%;
    max-width: 820px;
    padding: 15px;
}
#search-logo{text-align: center;}
#form-search {
    margin-top: 60px;
}
#spider-search{margin-bottom: 32px;}
.nav-sidebar li.active a{background-color:#428bca;color: #fff;}
