{% extends 'spider-base.html' %}
{% block title %}{% endblock %}

{% block main %}

    <!--*****************************内容start*************************************-->

    <h1 class="page-header">url列表</h1>
    <div id="datalist" class="row">

    </div>
    <nav><div class="pagination"></div></nav>



    <!--*****************************内容end*************************************-->
    <script type="text/javascript">
     var urls = {
                api_crawl : "{% url "api-spider-crawl" %}"
            }

    </script>
    <script type="text/javascript" src="/static/jsdata/crawl.js"></script>
    <script type="text/javascript">
        $(function(){
            getUrlList();
        });
    </script>
{% endblock %}