<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <title>{% block title %}title-{% endblock %}搜索</title>
    <link href="/static/img/icon/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/owl-style.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
</head>
<body>
{% include 'search-header.html' %}

{% block main %}main-{% endblock %}

{% include 'search-footer.html' %}
</body>
</html>