{% extends 'search-base.html' %}
{% block title %}{% endblock %}
{% block script %}
    <style type="text/css">
    footer{position: absolute;bottom: 0;width: 100%;}
    </style>
{% endblock %}
{% block main %}

    <!--*****************************内容start*************************************-->
    <div class="container">
        <div class="" id="search-plan">
            <div id="search-logo">

            </div>
            <form id="form-search" class="form-horizontal" method="get" action="{% url "search-result" %}" onsubmit="return check_form();">
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="kw" id="inputKeywords">
                    </div>
                    <button type="submit" class="btn btn-primary col-sm-2">搜 索</button>
              </div>

            </form>
        </div>


    </div>

    <!--*****************************内容end*************************************-->
    <script type="text/javascript">
    document.getElementById("inputKeywords").focus();
    var check_form = function(){
        var kw = $.trim(document.getElementById("inputKeywords").value);
        if(kw == ""){
            document.getElementById("inputKeywords").focus();
            return false;
        }
    }
    </script>
{% endblock %}